/* Jeedup */

/*
* {
    background: blue !important;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
*/

.z-content {
    padding-top: 4.75em;
}

.panel {
    margin-bottom: 1em !important;
}

.z-description {
    font-weight:300;
    font-size: 12px;
    padding: 0.5em;
}

.z-btn-search {
    padding: 11px 11px !important;
}

.z-red {
    background-color: #ee5f5b !important;
    border-color: #ed4d63 !important;
}

.z-green {
    background-color: #62c462 !important;
    border-color: #62bd4f !important;
}

.z-stock-box {
    color: #ffffff !important;
}

.z-news-links a {
    font-size: 9px !important;
}

.z-news-list {
    padding: 0 0 1em 0 !important;
}
.z-news-list a {
    border: 0px;
    padding: 0 2px 10px 2px !important;
    background-color: #272b30;
}

.z-news-list h6 {
    font-weight: 300 !important;
    font-size: 12px !important;
}

.z-news-list p {
    font-weight: 300 !important;
    font-size: 10px !important;
}

a.z-news-list:hover,
a.z-news-list:focus {
  background-color: #3e444c;
}

#z-stock-chart {
    margin-top: -0.75em !important;
}

.z-key-stats {
    padding-left: 5px !important;
}

.z-stock-box-body {
    padding: 4px !important;
}

.highcharts-container > svg > text {
    display: none;
}

.z-analyst table {
    font-size: 10px !important;
    border-spacing: 0px;
}

.z-analyst td {
    padding: 3px !important;
}

.z-scan-list-container {
    height: 23.5em; !important;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    margin-bottom: 1.275em !important;
    padding: 0px !important;
}
.z-scan-list-container::-webkit-scrollbar {
    width:1em;
}
.z-scan-list-container::-webkit-scrollbar * {
    background:transparent;
}
.z-scan-list-container::-webkit-scrollbar-thumb {
    background:rgba(255,0,0,0.1) !important;
}

.z-scan-list table {
    font-weight: 500 !important;
    border-spacing: 0px;
}

.z-scan-list td {
    padding: 3px !important;
    font-weight: 200 !important;
}
.z-scan-list th {
    text-align: center !important;
}


/* START QUOTE */

/*
 * # Semantic UI
 * https://github.com/Semantic-Org/Semantic-UI
 * http://www.semantic-ui.com/
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.svg#icons") format('svg'), url("../fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
.sm-frame3 {
  padding: 5px;
}

.sm-frame3 .sm-company {  
  color: #CACACA;
  font-size: 0.7375em;
}

.sm-frame3 .sm-symbol {
  color: #fff;
  font-size: 1.75em;
  font-weight: bold;  
}

.sm-frame3 .sm-quote {
  color: #fff;
  font-size: 1em;
}

.sm-frame3 .sm-quote-div {
  display: inline-block;
}

.sm-frame3 .sm-quote-div i {
  font-size: 1em;
}

.sm-frame3 .sm-change-div {
  color: #999;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: -13px;
  font-size: 0.8em;
}




i.sm-icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.23em;
  height: 0.9em;
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

i.sm-icon:before {
  background: none !important;
}

i.green.sm-icon,
span.green {
  color: #5bbd72 !important;
}

i.red.sm-icon,
span.red {
  color: #d95c5c !important;
}

i.sm-icon.arrow.up:before {
  content: "\f062";
}
i.sm-icon.arrow.down:before {
  content: "\f063";
}
i.sm-icon.caret.down:before {
  content: "\f0d7";
}
i.sm-icon.caret.up:before {
  content: "\f0d8";
}
/* END QUOTE */








/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
